.editor {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "title title" 60px
    "main main" auto
    "timeline timeline" 300px;
  background: #1C1E26;
  section {
    border: 1px solid black;
    box-sizing: border-box;
  }
  main {
    grid-area: main;
    display: flex;
  }
}