.monitor {
  grid-area: monitor;
  display: flex;
  flex-direction: column;
  position: relative;
  .mCanvas {
    flex: 1;
    position: relative;
    height: 100%;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #d9d9d9;
    }
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba($color: #fff, $alpha: .8);
    .handles{
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        transition: color .15s ease;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}