@import './var.scss';

.n-icon {
  display: flex;
  align-items: center;
  transition: color .2s;
  height: 100%;
  &:not(.default, .disabled) {
    cursor: pointer;
    &:hover {
      color: var(--primaryColor);
    }
  }
  &.disabled {
    color: var(--iconColorDisabled);
    cursor: default;
  }
}
