.title {
  grid-area: title;
  padding: 0 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba($color: #FFF, $alpha: .5); 
      transition: color .15s ease;
      cursor: pointer;
      .label {
        margin-left: 8px;
      }
      &:hover {
        color: #fff; 
      }
    }
  }
}