.timeline {
  grid-area: timeline;
  display: flex;
  flex-direction: column;

  // 控制按钮
  nav {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 1px solid #0E0F13;
    li {
      transition: color .15s ease;
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: #FFF;
      }

      span {
        font-size: 20px;
      }
    }

    li+li {
      margin-left: 16px;
    }
  }

  // 时码线
  .rulerStage {
    background-color: #212631;
  }

  main {
    flex: 1;
    background-color: #212631;
    display: flex;

    // 时间线左侧控制条
    aside {
      width: 140px;
      height: 100%;
      overflow: auto;

      .trackItem {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }

    .container {
      flex: 1;
      height: 100%;
      overflow: auto;
      position: relative;

      .trackListScroll {
        width: 400vw;
      }

      .stage {
        top: 0;
        left: 0;
      }
    }
  }

}